Service References/RentIt00/RentIt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentItServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Names">
    <xs:sequence>
      <xs:element minOccurs="0" name="NameList" nillable="true" type="tns:ArrayOfNameRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Names" nillable="true" type="tns:Names" />
  <xs:complexType name="ArrayOfNameRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NameRecord" nillable="true" type="tns:NameRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNameRecord" nillable="true" type="tns:ArrayOfNameRecord" />
  <xs:complexType name="NameRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameRecord" nillable="true" type="tns:NameRecord" />
  <xs:complexType name="CustomExpMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomExpMsg" nillable="true" type="tns:CustomExpMsg" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>