Service References/RentItServices/RentitService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt29WCF/RentitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt29WCF/RentitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt29WCF/RentitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentitService" />
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt29WCF/RentitService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreateUserResult" nillable="true" type="q1:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetUserResult" nillable="true" type="q2:TupleOfUserstringyhomVriE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UpdateUserResult" nillable="true" type="q4:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LoginResult" nillable="true" type="q5:TupleOfbooleanstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LogoutResult" nillable="true" type="q6:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IsLoggedInResult" nillable="true" type="q8:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMediaFromTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMediaFromTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchMediaFromTitleResult" nillable="true" type="q9:TupleOfArrayOfMediastringyhomVriE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMediaFromCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMediaFromCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchMediaFromCategoryResult" nillable="true" type="q10:TupleOfArrayOfMediastringyhomVriE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetMediaResult" nillable="true" type="q11:TupleOfMediastringyhomVriE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q12:User" />
        <xs:element minOccurs="0" name="credits" type="xs:int" />
        <xs:element minOccurs="0" name="duration" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RentMediaResult" nillable="true" type="q13:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookmarkMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q14:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookmarkMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="BookmarkMediaResult" nillable="true" type="q15:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q16:User" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommentMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CommentMediaResult" nillable="true" type="q17:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q18:User" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RentitService" minOccurs="0" name="rating" type="q19:Rating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RateMediaResult" nillable="true" type="q20:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="media" nillable="true" type="q21:Media" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="admin" nillable="true" type="q22:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UploadMediaResult" nillable="true" type="q23:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="media" nillable="true" type="q24:Media" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="UpdateMediaResult" nillable="true" type="q25:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderAnalytics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="media" nillable="true" type="q26:Media" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderAnalyticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetGenderAnalyticsResult" nillable="true" type="q27:TupleOfdoubledoublestring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeAnalytics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="media" nillable="true" type="q28:Media" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeAnalyticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAgeAnalyticsResult" nillable="true" type="q29:TupleOfArrayOfdoublestring9_SUPjmKX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRented">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mediaId" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PersistenceLayerHibernate.Domain" minOccurs="0" name="user" nillable="true" type="q30:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRentedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="IsRentedResult" nillable="true" type="q31:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/Message" name="FileStream" type="q32:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System" name="MediaLoginAndUserTuple" nillable="true" type="q33:TupleOfstringMediaUserVjFLLhCb" />
  <xs:element name="UploadFileResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Success" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/Message" name="FileDownload" type="q34:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>